.body-color{
    background-color:black;
    
}

h1 {
    text-align: center;
    
  }
  
  .accordion {
    max-width: 600px;
    margin:  auto; 
    
    
    
  }
  
  .accordion-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    cursor: pointer;
    background-color: #000a0c;
  }
  
  .accordion-title:hover {
    background-color: #252227;
  }
  
  .accordion-title,
  .accordion-content {
    padding: 1rem;
    color: rgb(39, 40, 41);
  }
  
  .accordion-content {
    background-color: #9aa3a5;
  }
  
  @media screen and (max-width: 700px) {
    body {
        background-color: black;
      font-size: 18px;
      color:rgb(0, 0, 0);
    }
  
    .accordion {
      width: 90%;
      height:100vh
    }
  }