@import 'bootstrap';

#logo-img{
    top:5px;
    left: 10px;
    position:fixed;
    height: 150px;
    width: 150px;
    
    
    
    
}
// .header-container {
//     position: fixed;
//    overflow: hidden;
//   }
// .nav-bar{
     
//         display: flex;
//         align-items: flex-end;
//         padding-bottom: 10px;
      

// }
 .nav-bar{
    display: flex;
    flex-direction: row;
    justify-content: right;
    margin: 2px;
     justify-content: space-between;
    padding: 0 5% 0 80%;
// margin: 10px;
// color: #CFDFEF;
// display: flex;
// flex-direction: row;
// align-items: flex-end;
// padding-right: 50px;
// text-decoration: none;
}
.welcometext{
    padding-top: 150px;
    
}
.home-upper{
    text-align: center;
}
    
 

span{
    color: white;
}
