@import 'bootstrap';

#logo-img{
    top:5px;
    left: 10px;
    position:absolute;
    height: 75px;
    width: 75px;
    
    
}
.nav-links{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    padding-right: 50px;
    justify-content: space-around;
}

    
