@import 'bootstrap';

#logo-img{
    top:5px;
    left: 10px;
    position:fixed;
    height: 100px;
    width: 100px;
}

 .nav-bar{
    display: flex;
    flex-direction: row;
    justify-content: right;
    margin: 2px;
     justify-content: space-between;
    padding: 0 5% 0 80%;
}

.home-upper{
    text-align: center;
    padding-top: 150px;
}
    
 

span{
    color: white;
}
